nav .logo img {
    width: 48px;
    height: 48px;
}

nav ul {
    display: none;
    /* display: flex; */
    justify-content: flex-end;
}

nav ul li {
    display: inline;
}

section.intro {
    display: flex;
}

/* delete later */
section.intro img {
    width: 206px;
    height: 206px;
}