.experience__flexbox {
    margin-top: 45px;
    height: 40vh;
    position: relative;
}

/* .experience .column-flexbox > div { */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* gap: 25px; */
/* } */

.experience .column-flexbox > div:nth-child(odd) {
    & .job-info {
        order: 3;
    }

    & .job-info > img {
        float: left;
    }

    & > .date {
        text-align: end;
        order: 1;
    }
}

.experience .column-flexbox > div:nth-child(even) {
    & .job-info {
        order: 1;
    }

    & .job-info > img {
        float: right;
    }

    & > .date {
        text-align: start;
        order: 3;
    }
}

.job-info,
.column-flexbox > div > .date {
    width: calc(100% / 2 - 16px);
}

.column-flexbox > div > .date {
    font-size: 16px;
    font-weight: var(--semibold);
    color: #166198;
}

.dot {
    order: 2;
    width: 16px;
    height: 16px;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
}

.job-info img {
    width: 40px;
    height: 40px;
}

.job-info dialog {
    padding: 34px 23px 27px;
}

.job-info dialog button.close {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 20px;
    padding: 7px;
}

.job-info h2 {
    font-weight: bold;
    font-size: 16px;
}

.job-info dialog h2,
.job-info dialog p.date {
    text-align: left;
}

.job-info dialog h2 {
    font-size: 18px;
    font-style: var(--medium)
}

.job-info dialog p.date {
    font-size: 12px;
    font-style: var(--light);
}

.job-info dialog img {
    width: 40px;
    height: auto;
}

.job-info dialog > img {
    float: left;
    margin-right: 14px;
}

.job-info dialog .description {
    text-align: justify;
    margin-top: 24px;
    /* make bigger */
    font-size: 14px;
}

.job-info dialog h3 {
    text-align: left;
    /* make bigger */
    font-size: 16px;
    font-weight: var(--medium);
    margin: 14px auto;
}

.job-info dialog .technologies {
    display: flex;
    gap: 20px;
    text-align: center;
}

.job-info dialog .technologies img {
    width: 30px;
    height: auto;
}

.job-info dialog .technologies p.name {
    font-size: 14px;
    font-weight: var(--semibold);
}

.btn-link {
    background: none;
    font-family: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #166198;
}

.job-info button {
    font-size: 12px;
    font-weight: var(--regular);
}

.experience__vertical-line {
    background-color: black;
    position: absolute;
    z-index: -1;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 4px;
}